<div class="card border p-5">
<table class="table table-bordered table-striped p-2">
    <thead>
        <tr>
            <th>CustomerName</th>
            <th>Truck</th>
            <th>Spec</th>
             <th>symbol</th>
            <th>MixerSize</th>
            <th>TagAxle</th>
            <th>LastChanged</th>
            <th>WB</th>
            <th>CA</th>
            <th>Boggle</th>
            <th>Front</th>
            <th>Rear</th>
            <th>PusherAxle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let user of dataSource">
        <td>{{user.CustomerName}}</td>
        <td>{{user.Truck}}</td>
        <td>{{user.Spec}}</td>
        <td>{{user.symbol}}</td>
        <td>{{user.MixerSize}}</td>
        <td>{{user.TagAxle}}</td>
        <td>{{user.LastChanged}}</td>
        <td>{{user.WB}}</td>
        <td>{{user.CA}}</td>
        <td>{{user.Boggle}}</td>
        <td>{{user.Front}}</td>
        <td>{{user.Rear}}</td>
        <td>{{user.PusherAxle}}</td>
    </tr>
    </tbody>
</table>

<div class="container">
    <div class="col-sm-12">
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item disabled"><a class="page-link" href="">&laquo;</a></li>
                <li class="page-item"><a class="page-link"href="">1</a></li>
                <li class="page-item"><a class="page-link"href="">2</a></li>
                <li class="page-item"><a class="page-link"href="">3</a></li>
                <li class="page-item"><a class="page-link"href="">4</a></li>
                <li class="page-item disabled"><a class="page-link" href="">&raquo;</a></li>

            </ul>
        </nav>
    </div>
</div>
</div>